<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Articles List</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<th:block th:insert="layout/header"></th:block>
<main>
    <h2> Article List</h2>
    <table>
        <thead>
        <tr>
            <th>Designation</th>
            <th>Price TTE</th>
            <th>Price TTC</th>
            <th>Category</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article: ${articles}" th:object="${article}">
            <td th:text="*{designation()}"></td>
            <td th:text="*{unitPriceExcludingTax() + '$'}"></td>
            <td th:text="*{unitPriceIncludingTax() + '$'}"></td>
            <td th:text="*{category()}"></td>
            <td th:text="*{quantity()}"></td>
            <td>
                <a class="styled-button" th:href="@{/article/{UUID} (UUID=${article.id()})}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<th:block th:insert="layout/footer"></th:block>

</body>
</html>